.constr {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer {
	justify-self: flex-end;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

ul.list {
	padding: 0;
	list-style: none;
	overflow-y: auto;
	height: 100%;
	overflow-x: hidden;
	li:last-child {
		margin-bottom: 0;
	}
}

.burger {
	display: flex;
	flex-direction: column;
	height: calc(100% - 86px);
	width: 568px;
	&.dashed {
		border: 2px dashed gray;
		width: 564px;
	}
}
