.content {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--common-border-radius);
  justify-self: stretch;
}

.header {
  align-self: flex-end;
  position: absolute;
}

.order-number {
  > p {
    padding: 0;
    text-shadow: var(--colors-interface-accent) 1px 0 10px;
  }
}
